:root {
  --primary-color: #4f46e5;
  --accent-color: #7C3AED;
  --dark-color: #111827;
  --light-color: #F9FAFB;
}

.contact-container {
  padding: 40px 20px;
  text-align: center;
}

.contact-title {
  font-size: 5 rem;
  font-weight: 1000;
  margin-bottom: 30px;
  color: #0c0c0c;
  text-decoration: #F9FAFB;
  /* background: linear-gradient(90deg, var(--primary-color), var(--accent-color)); */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.contact-card {
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  padding: 40px;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}

.contact-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background: linear-gradient(90deg, var(--primary-color), var(--accent-color));
}

.contact-name {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.contact-card p {
  font-size: 1.2rem;
  margin: 12px 0;
}

.contact-card a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
}

.contact-card a:hover {
  text-decoration: underline;
}
